.app__singlePageReverse {
    width: 100%;
    border-top: 2.5px solid rgb(163, 161, 161);
    border-bottom: 2.5px solid rgb(163, 161, 161);
    padding: 2.5rem 1rem;
    height: 100%;
    margin-bottom: 2.5rem;
}

.app__singlePageReverse-title {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;

}

.app__singlePageReverse-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}

.app__singlePageReverse-image {
    width: 60%;
    height: 100%;
    padding: 1rem;
}

.app__singlePageReverse-image img {
    width: 100%;
    height: 100%;
    outline: 2.5px solid rgb(163, 161, 161);
}

.app__singlePageReverse-content {
    width: 40%;
    height: 100%;
    padding: 0 2.5rem;
}

.app__singlePageReverse-share_buttons {
    display: flex;
    justify-content: start;
    border-bottom: 2.5px solid rgb(163, 161, 161);
    height: 100%;
    width: 100%;
    padding: .5rem;
}

.app__singlePageReverse-content a {
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: lightblue;
    width: fit-content;
    color: blue;
    padding: .2rem .2rem;
    font-size: .8rem;
}

.app__singlePageReverse-content a .icon {
    margin-right: .3rem;
}

.app__singlePageReverse-content p {
    font-size: 1rem;
    color: var(--color-black);
    line-height: 1.6;
}
